* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  background: #fbfaff;
}

header {
  width: 1440px;
  height: 80px;
  border-bottom: 1px solid #e4e3eb;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
}

.arrow {
  width: 44px;
  height: 44px;
  margin: 0 240px 0 76px;
}

h2 {
  color: #1a1a1f;
  font-weight: 700;
  line-height: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.photo {
  color: #1a1a1f;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#image-view {
  width: 600px;
  height: 180px;
  border-radius: 12px;
  border: 1px dashed #85858d;
  background: #f4f3ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.drop_file {
  color: #1a1a1f;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.choose_file {
  font-weight: 500;
  text-decoration-line: underline;
}

.author_title {
  display: flex;
  gap: 24px;
}

.subdiv {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text {
  color: #1a1a1f;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

#author_title_Input {
  width: 288px;
  height: 44px;
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  background: #fcfcfd;
  padding-left: 16px;
}

#author_title_Input::placeholder {
  color: #85858d;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

ul {
  color: #85858d;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 12px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.description_text {
  color: #1a1a1f;
  font-size: 14px;
  font-weight: 500;
}

#description_Input {
  width: 600px;
  height: 124px;
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  background: #fcfcfd;
  padding-left: 16px;
}
